.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.background {
	background-image: url('../images/forest1.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 10vh;
	width: 50vw;
}

.createMap {
	position: absolute;
	width: 65%;
	height: 65%;
	left: 1100px;
	bottom: 160px;
}

.eventMap {
	position: absolute;
	margin-top: 130px;
	width: 40%;
	height: 70%;
	right: 50px;
	bottom: 100px;
	margin-right: 30px;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100vh;
}

.megacontainer {
	background: #2d3436;
	background-image: url('../images/Weltenbaumpixel.png'); /* fallback */
	background-image: url('../images/Weltenbaumpixel.png'),
		linear-gradient(315deg, #2d3436 35%, #000000 90%);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}

.eventcontainer {
	display: grid;
	height: 100vh;
}

.organizeWrapper {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
}

.howToUse {
	z-index: 1;
	width: 246px;
	height: 200px;
	left: 625px;
	bottom: 672px;
	position: absolute;
}
