h2 {
	font-style: italic;
	font-size: 45px;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

h4 {
	font-size: 20px;
	margin-left: 50px;
	margin-top: 10px;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

h3 {
	font-style: italic;
	font-size: 30px;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.top {
	color: #f5f5f5;
	position: absolute;
	bottom: 150px;
	left: 100px;
}

#error_message {
	color: white;
	font-size: 15px;
}

.eventFont {
	color: #f5f5f5;
	padding: 0;
	margin: 80px;
	width: 50vw;
	letter-spacing: 3px;
	border-style: solid;
	border-color: #f5f5f5;
}

.white {
	color: #f5f5f5;
	padding: 30px;
	margin-left: 20px;
}

.howWhite {
	color: #f5f5f5;
	font-weight: bold;
}
